@font-face {
  font-family: 'GFSSocial';
  src: url('../assets/fonts/GFSSocial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GFSHomie';
  src: url('../assets/fonts/GFSHomie-540gsm.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GFSHomie';
  src: url('../assets/fonts/GFSHomie-1400gsm.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GFSHomie', Arial, Helvetica, sans-serif;
}

p {
  padding-bottom: 0;
}

h1 {
  font-size: 11rem;
  line-height: 10.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 3rem;
  line-height: 3.6rem;
}

h6 {
  font-size: 1.6rem;
  line-height: 2.44rem;
}
