@keyframes marquee {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-5000px);
  }
}

.marquee-text {
  font-size: 11rem;
  line-height: 9.5rem;
  font-family: 'GFSHomie', Arial, Helvetica, sans-serif;
  display: inline-block;
  font-weight: 700;

  animation: marquee 20s linear infinite;
}
