@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'GFSSocial';
  src: url('../assets/fonts/GFSSocial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GFSHomie';
  src: url('../assets/fonts/GFSHomie-540gsm.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GFSHomie';
  src: url('../assets/fonts/GFSHomie-1400gsm.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
