@import 'tailwindcss';
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll';

@theme {
  /* custom properties here e.g. fonts, colours, images, breakpoints etc
  --font-fx: 'FX_Neofara', Arial, Helvetica, sans-serif;
  --black-purple: #201547;
  --pink: #dc5596;
  --heroBackground: url('../assets/images/desktop/1.jpg');
  */
  --breakpoint-xl: 1120px;
  --breakpoint-2xl: 2220px;
  --width
  --font-ubuntu: 'Ubuntu';
  --color-red: #e10600;
}

@layer base {
  :root {
    --ease-func: cubic-bezier(0.22, 1, 0.36, 1);
  }

  html {
    box-sizing: border-box;
    font-size: 10px;
    /* scroll-behavior: smooth; Interferes with Locomotive Scroll and Smooth Scrolling */
  }

  /**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /**
   * Basic typography style for copy text
   */
  body {
    font-family: 'GFSSocial', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.24rem;
    text-wrap: pretty;
  }

  .hero {
    background-color: var(--background-color);
    transition: background-color 0.5s cubic-bezier(0.73, 0.09, 0.6, 1.01);
  }

  .link {
    background-color: var(--text-color);
    color: var(--background-color);
    transition:
      background-color 0.5s cubic-bezier(0.73, 0.09, 0.6, 1.01),
      color 0.5s cubic-bezier(0.73, 0.09, 0.6, 1.01);
  }
}
