@font-face {
  font-family: 'Greed';
  src: url('../../../assets/fonts/Greed.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.links {
  font-family: 'Greed';
  font-weight: 900;
  font-size: 13.5rem;
  --y-initial: -150px;
  --y-final: -50%;
}

span {
  font-family: 'Greed';
  letter-spacing: -1.25px;
  font-size: clamp(6.25rem, calc(5.4915rem + 2.4272vi), 9.375rem);
  line-height: 1em;
}
